<!DOCTYPE html>
<html>
<head>
    <title>Tude Tracker 2.0 - Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= keyword %></h1>
<h2><%= tweets %></h2>
<h2><%= sentiment %></h2>
</body>
</html>
